.weather-container__controls {
  display: flex;
  align-items: flex-start;
  border-color: white;
  border-top: solid;
  border-top-width: 1px;
  margin-top: 5%;
  /* background: blue; */
}

.weather-container__temp {
  text-align: center;
  font-size: 40px;
}

.weather-container__controls span {
  margin-top: 2%;
}

.metric {
  display: flex;
  justify-content: space-between;
}

.metric button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  transition: 0.2s;
}

.metric button:hover {
  transform: scale(1.2);
}

.current-metric {
  text-decoration: underline;
}
