.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
/* 
.container__header {
  display: inline;
} */
/* 
.container__content {
  position: relative;
  margin-top: 7%;
  display: flex;
  justify-content: center;
} */
